.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  transform: rotate(-15deg);
  animation: header__square-pic 20s linear infinite normal forwards running;
}
