.footer__column-link {
  list-style-type: none;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  padding: 0;
  transition: opacity 2s ease;
}

.footer__column-link:hover {
  opacity: 0.4;
}
