@import url(./_theme/section-subtitle_theme_dark.css);

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  width: 60%;
}
