.feinman__link {
  width: fit-content;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #000;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  transition: opacity 2s ease;
}

.feinman__link:hover {
  opacity: 0.4;
}
