.page {
  min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  overflow: hidden;
    /* выше установили ограничения для секции */
}

.logo {
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 183px;
  background-image: url(../images/logo.svg);
}

.header__title {
  margin: auto 0 auto 64px;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  left: 64px;
  bottom: 30px;
}

.header__link {
  text-decoration: none;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

.description {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  margin-top: 0;
  line-height: 1.2;
  font-size: 18px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin-right: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30;
}

.two-column__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  width: 60%;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  width: 60%;
}

.table {
  display: flex;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-right: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin: 20px auto;
}

.table__text_not-margin {
  margin: 0 auto;
}

.feinman {
  padding-top: 100px;
  height: 790px;
  background-color: #f2f2f2;
  background-image: url(../images/feinman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.feinman__title {
  margin: 0 auto 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feinman__subtitle {
  margin-top: 0;
  width: fit-content;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feinman__link {
  width: fit-content;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.section-title__theme_dark {
  color: white;
}

.section-subtitle__theme_dark {
  color: white;
}

.table__theme_dark {
  color: white;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}
.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -2;
  width: 877px;
  height: 877px;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  width: 90%;
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_white.svg);
  width: 183px;
  height: 35px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  width: fit-content;
  margin-bottom: 18px;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__column-links {
  list-style-type: none;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  padding: 0;
}

.footer__social-icon {
  margin-right: 10px;
  list-style-type: none;
  padding: 0;
}
